extends ../userLayout

block content
  .main-account.container-fluid.w-100.h-100.pt-3.pb-3
    if (updatefail)
      script.
        var c = 1;
        if (c === 1) {
          $(document).ready(function () {
            $('#errorModal').modal('show');
            c++;
            $('#errorMessage').html('#{updatefail}');
          });
        }
    if (updatesuccess)
      script.
        var c = 1;
        if (c === 1) {
          $(document).ready(function () {
            $('img#iconSuccess').css('display', 'block');
            setTimeout(() => {
              $('img#iconSuccess').attr('src', 'images/success-icon-0.png');},1200);
            $('#resultModal').modal('show');
            c++;
            $('#codeResult').html('#{updatesuccess}');
          });
        }
    .card.w-100.h-100
      h2.text-color-theme.text-center.mt-5 Tài khoản
      if(user)
        form#signupform.container-fluid.mt-3(data-toggle='validator' action='/user/update' method='post')
          .row
            .form-group.col-12
              label(class="error" for="email-signup" style="display:none;")
              input#email-signup.border-color-y.form-control.input-code(type='text' placeholder='Email' value=user.email disabled="disabled")
          .row
            .col-md-12.col-xl-6.d-sm-none.d-md-block
              label(class="error" for="username-signup" style="display:none;")
            .col-md-12.col-xl-6.d-sm-none.d-md-block
              label(class="error" for="phone-signup" style="display:none;")
          .row
            .col-xs-12.d-md-none.d-sm-block
              label(class="error" for="username-signup" style="display:none;")
            .form-group.col-md-12.col-xl-6
              input#username-signup.border-color-y.form-control.input-code(type='text' placeholder='Username' name='nickname' value=user.nickname)
            .col-xs-12.d-md-none.d-sm-block
              label(class="error" for="phone-signup" style="display:none;")
            .form-group.col-md-12.col-xl-6
              input#phone-signup.border-color-y.form-control.input-code(type='text' placeholder='Số điện thoại' name='phone_number' value=user.phone_number)
          .row
            .form-group.col-12
              label(class="error" for="name-signup" style="display:none;")
              input#name-signup.border-color-y.form-control.input-code(type='text' placeholder='Họ và tên' name='name' value=user.name)
          .row
            .col-md-12.col-xl-6.d-sm-none.d-md-block
              label(class="error" for="gender-signup" style="display:none;")
            .col-md-12.col-xl-6.d-sm-none.d-md-block
              label(class="error" for="birthday-signup" style="display:none;")
          .row
            .col-12.d-md-none.d-sm-block
              label(class="error" for="gender-signup" style="display:none;")
            .form-group.col-md-12.col-xl-6
              select#gender-signup.border-color-y.form-control.input-code(name="gender")
                if (user.gender === 'Nam')
                  option(selected="selected") Nam
                  option Nữ
                else
                  option(selected="selected") Nữ
                  option Nam
            .col-12.d-md-none.d-sm-block
              label(class="error" for="birthday-signup" style="display:none;")
            .form-group.col-md-12.col-xl-6
              input#birthday-signup.border-color-y.form-control.input-code(type='date' placeholder='Ngày sinh' name='birthdate' value=user.birthdate)
          .row
            .form-group.col-12
              label(class="error" for="address-signup" style="display:none;")
              input#address-signup.border-color-y.form-control.input-code(type='text' placeholder='Địa chỉ' name='address' value=user.address.formatted)
          .row
            .form-group.col-12
              input(type="submit" value="Save").btn.upload-btn.d-block.mx-auto