extends ../userLayout

block content
  .main-file.container-fluid.w-100.h-100.pt-3.pb-3
    .card.w-100.h-100
      .container-fluid.h-100.d-flex.flex-column
        if(files)
          .table-responsive-md
            table(style="color:black;").table.table-striped
              thead
                tr
                  th(scope='col') Code
                  th(scope='col') File Name (Click Name To Download)
                  th(scope='col') Password
                  th(scope='col') Size
                  th(scope='col') Type
                  th(scope='col') Action
              tbody
              for f in paginate
                - var size = f.fileSize
                tr
                  th= f.code
                  th
                    a(target='_blank', href='/download/'+f.fileName)= f.fileName
                  td= f.pass !== " " ? f.pass : "Không có pass"
                  if(size<= 1000)
                    td #{size + "Bytes"}
                  else
                    - size = Math.round(size/1000)
                    td #{size > 1000 ? Math.round(size /1000)+ "MB" : size + "KB"}
                  td= f.fileType
                  th
                    a(href='/user/delete?fileName='+f.fileName+'&code='+f.code) Xóa
          if(files.length > 10)
          nav(aria-label='Page navigation file').w-100.mt-auto
            ul.pagination.justify-content-center.mb-0
                - var pagNum = Math.ceil(files.length/10)
                - for(var x = 1 ; x <= pagNum ; x++)
                  li.page-item
                    a.page-link(href='user/?page='+x)= x
        else if(error)
          p= error